body{
  font-family: "Plus Jakarta Sans", sans-serif !important;
  /* font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal; */
  display: flex;
  flex-direction:column;
  min-height: 100vh;
}

.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: red;
}
.nav-link{
    color: #222222 !important;
}


.f-info-links a{
     text-decoration: none !important;;
     color: #222222;
}
.f-info-links a:hover{
     text-decoration: underline !important;
}

.f-info-links,.f-info-socials{
    width: 100%;
     margin: 5px;
     vertical-align: middle;
    align-items: center;
    justify-content: center;
}
.f-info-socials i{
    margin-top: .3rem;
    font-size:1.3rem;
    margin-right: 1rem;
    

}
.f-info{
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
}
.login-signup{
   /* login and signup links on right side of navbar */
   margin-left: auto !important;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   
}
/* cards */
.listing-card{
   border: none !important;
   margin: 2rem;
}
.card-img-top{
    width: 100%;
   object-fit: cover  !important; 
    border-radius: 1rem !important;
    height: 15rem;
}
.card-body{
    padding: 0%;
}
.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none !important;
    color: #222222;
}

/* Card Effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: .2;
    background-color: white;
}

/* new page Styling */
.row{
   color: #222222;
}

.container{
    flex: 1;
    width: 100%;
}
.add-btn{
    background-color: red !important;
    border: none !important;
}

/* Edit page */
.edit-btn{
    background-color: rgb(0, 10, 1) !important;
    border: none !important;
    color: white !important;
}

/* Show page */

.show-img{
    height: 50vh !important;
}

.login{
    background-color: rgb(2, 173, 2);
}



.map-container { width: 100%; height: 400px; border-radius: 8px; }
.map-small { height: 250px; }
